.addbutton {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.addbutton, .addbutton__icon, .addbutton__text {
  transition: all 0.3s;
}

.addbutton .addbutton__text {
  transform: translateX(15px);
  color: #fff;
  font-weight: 600;
}

.addbutton .addbutton__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbutton .svg {
  width: 30px;
  stroke: #fff;
}

.addbutton:hover {
  background: #34974d;
}

.addbutton:hover .addbutton__text {
  color: transparent;
}

.addbutton:hover .addbutton__icon {
  width: 148px;
  transform: translateX(0);
}

.addbutton:active .addbutton__icon {
  background-color: #2e8644;
}

.addbutton:active {
  border: 1px solid #2e8644;
}


.noselect {
  width: 130px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .noselect, .noselect span {
  transition: 200ms;
 }
 
 .noselect .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 .noselect .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(90px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .noselect svg {
  width: 10px;
  fill: #eee;
 }
 
 .noselect:hover {
  background: #ff3636;
 }
 
 .noselect:hover .text {
  color: transparent;
 }
 
 .noselect:hover .icon {
  width: 130px;
  border-left: none;
  transform: translateX(0);
 }
 
 .noselect:focus {
  outline: none;
 }
 
 .noselect:active .icon svg {
  transform: scale(0.8);
 }

 @media only screen and (max-width: 768px) {
  .Main {
    margin: 1rem;
  }
  .noselect {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   .noselect, .noselect span {
    transition: 0;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    transform: translateX(0px);
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 10px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 40px;
    border-left: none;
    transform: translateX(0);
   }

   
  
  .noselect.icon svg {
    transform: scale(0.8);
   }
}
/* Default styling for larger screens */
.delete .text {
  display: inline-block;
}

/* Hide text and show icon on smaller screens */
@media screen and (max-width: 768px) {
  .delete .text {
    display: none;
  }

  .delete .icon {
    display: inline-block;
  }
}
