.cards{
    display: flex;
}
.cards .dollarIcon{
    font-size: 46px;
    color: green;
    position: absolute;
    bottom: 10px;
    right: 10px;
 }
.cards .total {
  position: relative;
  width: 25rem;
  height: 9rem;
  background-color: #fff;
  
  margin: 30px 0 0 30px;
  border-radius: 10px;

}
.cards h2 {
  font-weight: 300;
  margin: 10px 0 0 10px;
  color: gray;
}
.cards .total p {
  font-size: 24px;
  font-weight: 600;
  margin: 3rem 0 0 10px;    
}


.cards .incomes {
    position: relative;
    width: 25rem;
    height: 9rem;
    background-color: #fff;
    
    margin: 30px 0 0 30px;
    border-radius: 10px;    
  }
  .cards h2 {
    font-weight: 300;
    margin-left: 10px;
    color: gray;
  }
  .cards .incomes p {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem 0 0 10px;    
  }

  .cards .expenses {
    position: relative;
    width: 25rem;
    height: 9rem;
    background-color: #fff;
    
    margin: 30px 0 0 30px;
    border-radius: 10px;
  }
  .cards h2 {
    font-weight: 300;
    margin-left: 10px;
    color: gray;
  }
  .cards .expenses p {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem 0 0 10px;    
  }
 .cards a {
    color: rgb(0, 99, 228);
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 20px;
}

.cards a:before,
.cards a:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid rgb(0, 99, 228);
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cards a:before {
    width: 1em;
    transform-origin: left;
}

.cards a:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

.cards a:hover:before {
    transform: scaleX(0.3);
}

.cards a:hover:after {
    transform: translateX(0);
}

.chartCard{
    width: 80%;
    height: 350px;
    margin: 5rem 0 0 2rem ;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}