.Main{
  margin: 2rem 0 0 2rem;
}
.incomeDiv {
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 50rem; /* Set a maximum width to prevent it from becoming too wide */
  height: 7em;
  margin: 2rem 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  border-radius: 10px;
}
.incomeDiv h1{
  display: inline;
  margin-left: 1rem;
  border-radius: 10px;
}
.incomeDiv .parameters {
  margin-left: 1rem;  
  display: flex;
  gap: 1.5rem;
  margin-top: 10px;
}
.incomeDiv .delete{
  position: absolute;
  right: 1rem;
  font-size: 14px; 
}
.noData{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.noData p{
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .Main {
    margin: 1rem;
  }

  .incomeDiv {
    max-width: 100%;
  }
}

